<div class="table-responsive">
  <table
    class="table table-bordered text-white"
    *ngIf="studentData.length > 0; else noStudent"
  >
    <thead>
      <tr>
        <th>Sr No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let std of studentData; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ std.fname }}</td>
        <td>{{ std.lname }}</td>
        <td>{{ std.email }}</td>
        <td>{{ std.contact }}</td>
        <th>
          <button (click)="onEdit(std)" class="btn btn-sm btn-primary">
            Edit
          </button>
        </th>
        <th>
          <button (click)="onRemove(std)" class="btn btn-sm btn-danger">
            Remove
          </button>
        </th>
      </tr>
    </tbody>
  </table>
  <ng-template #noStudent>
    <h4 class="alert alert-danger">No Student in database</h4>
  </ng-template>
</div>
